#footer {
  padding: 20px;
  text-align: center;
  background-color: #000;
}

#footer p {
  font-family: var(--fnt1);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  line-height: 1.5;
  color: #fff;
}

#footer a {
  color: var(--spc-clr);
}
