/* ! If any section is added before portfolio, do review .project background color for both light and dark */

#portfolio {
  position: relative;
}

#portfolio .section-hdg::after {
  content: 'portfolio';
}

.projects {
  margin: 20px 0;
  flex-basis: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 35px 20px;
}

.project {
  box-shadow: 0 0 10px 1px var(--shd-clr);
  padding: 15px;
  overflow: hidden;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
}

.dark-theme .project {
  background-color: var(--bg-clr2);
}

.project:last-of-type {
  margin-bottom: 0;
}

.img-container {
  border-radius: 5px 5px 0 0;
  position: relative;
  overflow: hidden;
}

.img-container:hover .img-slider {
  filter: blur(3px);
  transform: scale(1.2);
}

.img-container:hover .proj-name {
  opacity: 1;
}

.img-slider {
  display: flex;
  transition: all ease-out var(--mid-trans);
  position: relative;
  height: 100%;
}

.dark-theme .img-slider::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000052;
}

.proj-name {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: var(--mid-fnt);
  color: var(--txt-clr2);
  font-family: var(--fnt3);
  transform: translate(-50%, -50%);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #000000a2;
  opacity: 0;
  transition: all ease var(--mid-trans);
  text-align: center;
}

.img-container img {
  transition: all ease var(--slow-trans);
  transform-origin: center;
}

.img-container.active img {
  filter: blur(3px);
  transform: scale(1.2);
}

.selectors {
  padding: 5px;
  text-align: center;
}

.selector {
  position: relative;
  width: 16px;
  height: 16px;
  padding-inline: 5px;
  box-sizing: content-box;
}

.selector:before {
  content: '';
  border-radius: 50%;
  width: 8px;
  height: 100%;
  position: absolute;
  border: 1px solid transparent;
  padding-inline: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.selector:after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--hdg-clr2);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all ease var(--mid-trans);
}

.selector.active::before {
  border-color: var(--ext-clr2);
}

.selector.active:after {
  background-color: var(--ext-clr2);
}

.proj-info {
  line-height: 20px;
  margin: 5px 0 10px;
  letter-spacing: 0.1rem;
  text-align: center;
  height: 0;
  overflow-y: hidden;
  transition: all ease-in var(--mid-trans);
}

.proj-info p {
  font-size: 0.8rem;
  line-height: 1.5;
}

.proj-details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 5px 0;
}

.stack {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.stack div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack div:last-of-type {
  margin-right: 0;
}

.icon {
  color: var(--txt-clr1);
  font-size: var(--sml-fnt);
}

.title {
  font-size: 0.6rem;
  text-transform: capitalize;
  color: var(--txt-clr1);
  font-style: italic;
}

.date {
  font-style: italic;
  color: var(--txt-clr1);
  font-size: 0.8rem;
}

.more-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.more-btn,
.port-view-btn {
  text-transform: uppercase;
  color: var(--txt-clr2);
  padding: 3px 10px;
  font-family: var(--fnt1);
  border-radius: 5px;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  display: flex;
}

.more-btn {
  background-color: var(--ext-clr2);

  align-items: flex-end;
}

.more-btn span,
.port-view-btn span {
  margin-right: 3px;
}

.port-view-btn {
  background-color: var(--spc-clr);
  align-items: flex-start;
}

/* *END TD */

@media screen and (max-width: 600px) {
  .projects {
    grid-template-columns: 1fr;
  }
}
